<h1>Adicione um usuário</h1>
<form action="/users/create" method="post">
    <label for="name">Nome:</label>
    <input type="text" name="name" placeholder="Digite seu nome">

    <label for="occupation">profissão</label>
    <input type="text" name="occupation" placeholder="Digite sua profissão">

    <input type="checkbox" name="newsletter" checked>
    <label for="newsletter">Enviar promoções?</label>
    
    <input type="submit" value="Cadastrar">
</form>